<%- include('../../components/header') %>
<%- include('pre-scripts') %>
<%- include('dashboard-nav-bar') %>

<div class="container">
  <div class="row justify-content-xs-center">
    DASHBOARD
  </div>
</div>

<%- include('post-scripts') %>
<%- include('../../components/footer') %>
